header {
	text-align: center;
	background-color: coral;
}

header h1 {
	margin-bottom: 0px;
}

nav {
	float: left;
	background-color: antiquewhite;
	padding: 15px;
	width: 20%;
}

nav h3 {
	text-align: center;
}

ul {
	list-style-type: none;
}

.categoria-list li:hover {
	cursor: pointer;
	color: aqua;
}

.games {
	display: none;
	float: left;
	background-color:aquamarine;
	padding: 15px;
	width: 30%;
}

.games h3 {
	text-align: center;
}

.game-list li:hover {
	cursor: pointer;
	color: blue;
}

.game {
	background-color: darkgray;
	text-align: center;
	display: none;
}

.similar {
	float: left;
	background-color: beige;
	display: none;
	padding: 15px;
	width: 50%;
}

.similar h3 {
	text-align: center;
}